@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-1: #328532;

  /* Colores de texto */
  --text-color-1: #000;
  --text-color-2: #616161;
  --text-color-3: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #eddcc1;
  color: var(--text-color-1);
  margin: 0;
  
}

a {
  color: var(--text-color-1);
  text-decoration: none;
}

a.actual {
  font-weight: bold;
}

header {
  background: #fff;
  padding: 1em;
}

header ul a{
  padding: 1em;
}

header h1 {
  font-size: 1.5em;
  margin-top: 0;
}

header h1 > a > span {
  color: var(--color-1);
}

header h1 > a {
  word-spacing: -0.2em;
}

header div.contenedor ul li {
  display: inline;
  font-size: 1.2em;
  place-content: space-between;
}

header ul, footer ul {
  display: flex;
  place-content: space-between;
  list-style-type: none;
  margin-top: 0;
}

header div.contenedor {
  display: flex;
  width: 1080px;
  margin: 0 auto;
  place-content: space-between;
}


main p {
  color: var(--text-color-2);
  text-align: left;
  max-width: 34%;
  padding: 2em;
  font-weight: bold;
}


#perros {
  padding: 1em;
  background: #20272e;
  margin-top: 0;
  border-radius:0;
  display: grid;
  grid-template-areas:  'area1 . .'
                        'area2 . .'
                        'area3 . .';
  gap: 0.1em;
}

.contenedor-perro1 {
  grid-area: area1;
}
.contenedor-perro2 {
  grid-area: area2;
}
.contenedor-perro3 {
  grid-area: area3;
}

#perros div {
  margin: 1em;
  background: #303d49;
  color: var(--text-color-3);
  max-width: 40%;
  border-radius: 1em;
  box-shadow: 0 0 10px #727272;
  list-style: none;
}

#perros img {
  width: 100%;
  border-radius: 1em 1em 0 0;
}

#perros p {
  color: var(--text-color-3);
  text-align: center;
  font-weight: bold;
}

#gatos {
  background: var(--color-1);
  color: var(--text-color-2);
  padding: 1em;
  margin-top: 0;
  border-radius:0;
  display: grid;
  grid-template-areas:  'areaG1 . .'
                        'areaG2 . .'
                        'areaG3 . .';
}

.contenedor-gato1 {
  grid-area: areaG1;
}
.contenedor-gato2 {
  grid-area: areaG2;
}
.contenedor-gato3 {
  grid-area: areaG3;
}

#gatos div {
  background: #66e566;
  margin: 2em;
  color: var(--text-color-1);
  max-width: 40%;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0 0 10px #727272;
  list-style: none;
}

#gatos p{
  color: var(--text-color-1);
  text-align: center;
  font-weight: bold;
}

#gatos img {
  max-width: 100%;
  border-radius: 1em 1em 0 0;
}

#gatos ul {
  margin-top: 0;
  margin-bottom: 0; 
}

footer {
  background: var(--color-1);
  color: var(--text-color-3);
}
footer a, li {
  color: var(--text-color-3);
}
footer ul {
  margin-top: 0;
  margin-bottom: 0;
}

header div.contenedor {
  place-content: flex-start;
}

header div.contenedor nav {
  width: 70%;
  display: flex;
  place-content: space-between;
}

#menu,
#menu-check {
  display: none;
}

/* responsive tres cortes |600px|768px|1200px|  */


@media only screen and (max-width: 768px) {

  header div.contenedor,
  header div.contenedor ul,
  header div.contenedor ul li {
    display: inline;
  }

  header div.contemedor nav {
    width: 100%;
    display: inline;
  }


}

@media only screen and (max-width: 450px) {
  header h1 {
    margin: 0;
  }

  header h1 a {
    padding: 0;
  }

  header div.contenedor {
    display: flex;
    place-content: space-between;
  }

  #menu-check:not(:checked)~nav {
    display: none;
  }

  #menu-check:checked~nav {
    display: block;
  }

  #menu {
    display: block;
    color: rgb(6, 126, 6);
    background-color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid rgb(6, 126, 6);
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 9999;
  }

  #menu:hover {
    color: white;
    background: rgb(6, 126, 6);
  }

  #menu-cerrar {
    display: none;
  }

  #menu-check:checked~label #menu-abrir {
    display: none;
  }

  #menu-check:checked~label #menu-cerrar {
    display: block;
  }

  header div.contenedor nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: gray;
    padding-top: 0.5em;
    padding-right: 1.5em;
    opacity: 0.8;
    color: white;
    font-size: 1.4em;
  }

  header div.contenedor nav ul a {
    color: white;
    background: none;
  }

  header div.contenedor nav ul,
  header div.contenedor nav ul li {
    display: block;
    text-align: right;
  }

  main {
    text-align: center;
  }
}