@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-1: #328532;

  /* Colores de texto */
  --text-color-1: #000;
  --text-color-2: #616161;
  --text-color-3: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #eddcc1;
  color: var(--text-color-1);
  margin: 0;
  display: grid;
}

a {
  color: var(--text-color-1);
  text-decoration: none;
}

a.actual {
  font-weight: bold;
}

header {
  background: #fff;
  padding: 1em;
}

header ul a{
  padding: 1em;
}

header h1 {
  font-size: 1.5em;
  margin-top: 0;
}

header h1 > a > span {
  color: var(--color-1);
}

header h1 > a {
  word-spacing: -0.2em;
}

header div.contenedor ul li {
  display: inline;
  font-size: 1.2em;
  place-content: space-between;
}

header ul, footer ul {
  display: flex;
  place-content: space-between;
  list-style-type: none;
  margin-top: 0;
}

header div.contenedor {
  display: flex;
  width: 1080px;
  margin: 0 auto;
  place-content: space-between;
}

main {
  padding: 1em;
  margin: 3.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  'menu1 imagine1'
                        '. imagine1';
}

main p {
  color: var(--text-color-2);
  text-align: center;
  max-width: 90%;
  padding: 2em;
  font-weight: bold;
}

#imageContainer {
  background: #eddcc1;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
}

#perros {
  padding: 1em;
  background: #20272e;
  margin-top: 0;
  border-radius:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  'area1 area4'
                        'area2 area4'
                        'area3 area4';
}

.contenedor-perro1 { grid-area: area1;}
.contenedor-perro2 { grid-area: area2;}
.contenedor-perro3 { grid-area: area3;}
.image-items { grid-area: area4;}
.image-items2 { grid-area: area5;}
.menu { grid-area: menu1;}
.imagine { grid-area: imagine1;}
.f01 { grid-area: foo01;}
.f02 { grid-area: foo02;}
.f03 { grid-area: foo03;}

#perros div {
  margin: 1em;
  background: #303d49;
  color: var(--text-color-3);
  max-width: 90%;
  border-radius: 1em;
  box-shadow: 0 0 10px #727272;
  list-style: none;
}

#perros img {
  width: 100%;
  border-radius: 1em 1em 0 0;
}

#perros p {
  color: var(--text-color-3);
  text-align: center;
  font-weight: bold;
}

.image-items {
  width: auto;
  position: relative;
  background-color: #20272e;
}

.image-items2{
  display: none;
}


#gatos {
  background: var(--color-1);
  color: var(--text-color-2);
  padding: 1em;
  margin-top: 0;
  border-radius:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  'areaG1 areaG4'
                        'areaG2 areaG4'
                        'areaG3 areaG4';
}

.contenedor-gato1 { grid-area: areaG1;}
.contenedor-gato2 { grid-area: areaG2;}
.contenedor-gato3 { grid-area: areaG3;}
.image-itemsG     { grid-area: areaG4;}
.image-itemsG2    { grid-area: areaG5;}

#gatos div {
  background: #66e566;
  margin: 1em;
  color: var(--text-color-1);
  max-width: 90%;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0 0 10px #727272;
  list-style: none;
}

#gatos p{
  color: var(--text-color-1);
  text-align: center;
  font-weight: bold;
}

#gatos img {
  max-width: 100%;
  border-radius: 1em 1em 0 0;
}

#gatos ul {
  margin-top: 0;
  margin-bottom: 0; 
}

.image-itemsG {
  width: auto;
  position: relative;
  background-color: var(--color-1); 
}

.image-itemsG2{
  display: none;
}

footer {
  background: var(--color-1);
  color: var(--text-color-3);
}
footer a, li {
  color: var(--text-color-3);
}
footer ul {
  margin-top: 0;
  margin-bottom: 0;
}

header div.contenedor {
  place-content: flex-start;
}

header div.contenedor nav {
  width: 70%;
  display: flex;
  place-content: space-between;
}

#menu,
#menu-check {
  display: none;
}

/* responsive tres cortes |450px|768px|  */


@media only screen and (max-width: 768px) {

  header div.contenedor,
  header div.contenedor ul {
    display: inline;
    width: 100%;
  }


  header div.contemedor nav {
    width: 100%;
    display: inline;
  }

  main {
    max-width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'menu1 imagine1';
  }

  main div p {
    max-width: 90%;
    text-align: center;
  }

  #perros {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  'area1 area4'
                          'area2 area4'
                          'area3 area5';
  }
  #perros div {
    max-width: 100%;
  }

  .image-items, .image-itemsG {
    width: auto;
  }

  .image-items2, .image-itemsG2 {
    display: block;
    width: auto;
  }

  #gatos {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  'areaG1 areaG4'
                          'areaG2 areaG4'
                          'areaG3 areaG5';
  }
  #gatos div {
    max-width: 100%;
  }

}

@media only screen and (max-width: 450px) {
  body {
    width: 100%;
  }
  header h1 {
    margin: 0;
  }

  header h1 a {
    padding: 0;
  }

  header div.contenedor {
    display: flex;
    place-content: space-between;
    width: 90%;
  }

  #menu-check:not(:checked)~nav {
    display: none;
  }

  #menu-check:checked~nav {
    display: block;
  }

  #menu {
    display: block;
    color: rgb(6, 126, 6);
    background-color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid rgb(6, 126, 6);
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 9999;
  }

  #menu:hover {
    color: white;
    background: rgb(6, 126, 6);
  }

  #menu-cerrar {
    display: none;
  }

  #menu-check:checked~label #menu-abrir {
    display: none;
  }

  #menu-check:checked~label #menu-cerrar {
    display: block;
  }

  header div.contenedor nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: gray;
    padding-top: 0.5em;
    padding-right: 1.5em;
    opacity: 0.8;
    color: white;
    font-size: 1.4em;
  }

  header div.contenedor nav ul a {
    color: white;
    background: none;
  }

  header div.contenedor nav ul,
  header div.contenedor nav ul li {
    display: block;
    text-align: right;
  }

  main {
    max-width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'menu1' 
                        'imagine1';
  }

  main div p {
    max-width: 90%;
    text-align: center;
  }

  #perros {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:  'area1'
                          'area2'
                          'area3';
  }
  #perros div {
    max-width: 90%;
  }

  #gatos {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:  'areaG1'
                          'areaG2'
                          'areaG3';
  }
  #gatos div {
    max-width: 90%;
  }

  .image-items, .image-itemsG {
    display: none;
  }

  .image-items2, .image-itemsG2 {
    display: none;
  }

  footer ul {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:  'foo01'
                          'foo02'
                          'foo03';
  }

}